h1.title {
    font-size: 45px;
    background-color: #294c71;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    width: 100%;
}

p.paragraph {
    font-size: 30px;
    text-align: justify;
}

@media (min-width: 576px) {
    h1.title {
        font-size: 23px;
    }

    p.paragraph {
        font-size: 19px;
    }
}

@media (min-width: 768px) {
    h1.title {
        font-size: 34px;
    }

    p.paragraph {
        font-size: 25px;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}