section#sectionHealth {
    width: 100%;
}

h1.title {
    font-size: 45px;
    background-color: #294c71;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    width: 100%;
}

img#imageNews {
    width: 100%;
}

p.cardParagraph {
    font-size: 28px;
    text-align: justify;
    color: black;
}

button#readMore {
    font-size: 35px;
    color: #de003e;
}

@media (min-width: 576px) {
    p.cardParagraph {
        font-size: 20px;
    }

    button#readMore {
        font-size: 19px;
    }
}

@media (min-width: 768px) {
    h1.title {
        font-size: 34px;
    }

    a.link {
        font-size: 23px;
        line-height: 41px;
    }

    h2.mainTitle {
        font-size: 30px;
    }

    p.paragraph, button#readMore, label#email, 
    button#submit, p.cardParagraph {
        font-size: 25px;
    }

    h3.cardTitle {
        font-size: 28px;
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    a.link:hover {
        color: #a1a1a1;
        background: url("../public/images/marcador.png") no-repeat left;
        padding: 20px;
    }
}